@model RourieWebAPI.Models.ContactViewModel


@{
    ViewData["Title"] = "Edit Contact";
}



<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <input type="hidden" asp-for="contact.Id" class="form-control" value="@Model.contact.Id" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for=contact.CompanyId class="control-label"></label>
                <select asp-for=contact.CompanyId class="form-control" asp-items="ViewBag.CompanySelectList"></select>
                <a asp-action="Create" asp-controller="Companies">Add company</a>
                <span asp-validation-for=contact.CompanyId class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for=contact.Name class="control-label" name="Text"></label>
                <input asp-for=contact.Name class="form-control" text-wrap:normal" type="text" rows="5" placeholder="Name" />
                <span asp-validation-for=contact.Name class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for=contact.JobTitle class="control-label"></label>
                <input asp-for=contact.JobTitle class="form-control" placeholder="Job Title" />
                <span asp-validation-for=contact.JobTitle class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for=contact.Email class="control-label"></label>
                <input asp-for=contact.Email class="form-control" placeholder="Email" />
                <span asp-validation-for=contact.Email class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for=contact.MobileNumber class="control-label"></label>
                <input asp-for=contact.MobileNumber class="form-control" placeholder="Mobile Number (e.g. 0211649977)" />
                <span asp-validation-for=contact.MobileNumber class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary btn-custom m-1" />
                <a asp-action="Index" class="btn btn-primary btn-custom-large m-1">Back to Contacts</a>
            </div>
        </form>
    </div>
</div>
