@model RourieWebAPI.Models.ErrorViewModel
@{
    ViewData["Title"] = "Page Not Found";
    ViewBag.NoHeader = true;
}

<div class="alert alert-danger" id="danger-alert">
    <button type="button" class="close" data-dismiss="alert">x</button>
    The resource cannot be found!
</div>

<p>
    <a asp-action="Index" asp-controller="Companies" class="btn btn-primary btn-custom-large m-1">Back to Companies</a>
</p>


